List((
    texture_width: 80,
    texture_height: 40,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 40,
            height: 40,
        ),
        (
            x: 40,
            y: 0,
            width: 40,
            height: 40,
        ),
    ]
))