List((
    texture_width: 192,
    texture_height: 26,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 64,
            height: 26,
        ),
        (
            x: 64,
            y: 0,
            width: 64,
            height: 26,
        ),
        (
            x: 128,
            y: 0,
            width: 64,
            height: 26,
        ),
    ]
))